<div >


<%@info.each do |rep|%>
  <div>
    <%rep.each do |x|%>
      <%if x == rep.last%>
      <%elsif x == rep[-2]%>
        <%=x  %>
      <%else%>
        <%=x  %>,&nbsp;
      <%end%>
    <%end%>
    <img src="https://theunitedstates.io/images/congress/225x275/<%=rep.last%>.jpg" alt="">
  </div>
  <br />
<%end%>
</div>


<%= form_tag do %>
<%= select_tag("rep_choice", options_for_select(@phones)) %>
<%= select_tag("stance", options_for_select(@stances)) %>
<%=submit_tag"Submit"%>
<%end%>

<div>
  <%=params.keys%>
</div>
