<div >

<%@info.each do |rep|%>
  <div>
    <%rep.each do |x|%>
      <%unless x == rep.last%>
        <%=x  %>,&nbsp;
      <%else%>
        <%=x  %>
      <%end%>
    <%end%>
    <img src="https://theunitedstates.io/images/congress/225x275/<%=rep.last%>.jpg" alt="">
  </div>
  <br />
<%end%>
</div>
<div >
  <%=@names%>
  <%=@info%>
</div>
