


<%= render 'partials/rep_header' %>


<div class="container-fluid"
  <div class="jumbotron">
    <h1 class="lead">Representatives</h1>
  <%@info.each do |rep|%>


      <% unless rep.last.include?("http") %>
      <%@bioguide_id = rep.last%>

      <img src="https://theunitedstates.io/images/congress/225x275/<%=@bioguide_id%>.jpg" alt="Congress">
      <%else%>

      <img src= <%=rep.last%> alt="POTUS">
      <%end%>
      <figcaption>
        <%rep.each do |x|%>
        <%if x == rep.last%>
        <%elsif x == rep[-2]%>
        <%=x  %>
        <%else%>
        <%=x  %>,&nbsp;
        <%end%>
        <%end%>
      </figcaption>
    </figure>

  <%end%>
</div>

</br>
</br>
</br>



<%= form_tag "/call", method: :post, id: "rep_form"  do %>
<%= select_tag("rep_choice", options_for_select(@phones)) %>
<%= select_tag("stance", options_for_select(@stances)) %>
<%= hidden_field_tag('zip', @zip)%>
<%= hidden_field_tag('email', @email)%>
<%=submit_tag "Submit" %>
<%end%>
</div>

<%= render 'partials/rep_footer' %>
